@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  gap: 2rem;
  animation: marquee 40s linear infinite;
  white-space: nowrap;
}
